@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --BGCOLOR-01: #F3EED9;
  --BGCOLOR-02: #824936;
  --BGCOLOR-03: #222C2A;

}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  color: var(--BGCOLOR-03);
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

p {
  margin-top: 1em;
}

.section-title {
  font-size: 2.25rem;
  color: var(--BGCOLOR-01);
}

.section-title--dark {
  color: var(--BGCOLOR-02)
}

.intro {
  background-color: var(--BGCOLOR-01);
  min-height: 660px;
  text-align: center;
  color: var(--BGCOLOR-02);
  display: flex;
  align-items: center;
}

.intro__text {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.125rem;
  color: var(--BGCOLOR-03);
  margin: 0 0 0.25em;
}

.intro__title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: var(--BGCOLOR-02);
  padding: 0;
}

.section-three {
  background-color: var(--BGCOLOR-03);
}

.col__text--light {
  color: var(--BGCOLOR-01);
}

.section-four {
  background-color: var(--BGCOLOR-02);
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  .intro-title {
    font-size: 3.75rem;
  }
}