@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.example {
  width: 90%;
  margin: 5em auto;
  padding: 10em 0;
  background-color: steelblue;
}

@media () {
  
}