/* @import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap'); */

/* * {
  box-sizing: border;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

/* =================
Typography
================= */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

aside h2 {
  text-transform: uppercase;
}

a {
  color: #1792D2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

/* h1 subtitle */
.subtitle {
  font-weight: 700;
  font-size: .8rem;
  color: #1792D2;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .075rem;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: .875rem;
}

.article-read-more {
  text-transform: uppercase;
  color: #1792D2;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}


/* =================
Layout
================= */

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: #F8F8F8;
  padding: 2em 0;
  text-align: center;
}

@media (min-width: 875px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 75%;
  }

  aside {
    width: 20%;
  }
}

/* main {
  width: 75%;
}

aside {
  width: 20%;
} */

/* navigation */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: .15em;
}

nav li {
  margin-left: 2em;
  
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792D2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}


/* =================
Media Queries
================= */

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    padding: .5em 0;
  }
}

/* @media (max-width: 875px) {
  .container-flex {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  h1, p {
    white-space: nowrap;
  }
} */
