@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400:700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
}

img {
  max-width: 100%;
}

h1, 
h2 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p { 
  margin-top: 1em;
  line-height: 1.5em;
}

.hero {
  padding: 100px 0;
  background: #23424A;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero-img {
  align-self: stretch;
  width: 32%;
}

.hero p {
  margin-bottom: 3em;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23242A;
  font-weight: 700;
  background-color: #38CDF9;
  padding: .75em 2em;
  border-radius: 50px;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}

main {
  margin: 3em 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  color:#136c72;
}

.flex-main {
  width: 100%;
}

.flex-sidebar {
  background: #136c72;
  padding: 2em;
  color: #FFF;
  text-align: center;
  width: 47%;
}

.col {
  width: 100%;
}

.flex-sidebar .col {
  margin-bottom: 3.5em;
}

.flex-sidebar .col:nth-last-child() {
  margin: 0;
}

.col:first-child {
  margin-right: 3em;
}

.col p {
  font-size: 1.3125rem;
}