/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.intro-content-container {
  width: 100%;
  background: #23424a;
  margin-bottom: 1.5rem;
}

.intro-content {
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
  color: white;
  padding: 3.5rem 0;
}

.intro-content p {
  margin-top: 1rem;
  max-width: 60%;
}

.more-content {
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
}

.more-content p {
  line-height: 1.2rem;
  margin: 1rem 0;
}
